<!doctype html>
<head>
  <title>Home</title>
  <meta charset=utf-8>
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</script>
</head>
<body class="main-extension-body">
  <div class="inversion-top-bar">
    <a class="a-invert-extension" href="https://cryptomaton.org" target="_blank"><img src="../../img/32.png"></a>
  </div>
  <div class="p-20 inversion-inner-body">
    <div class="align-center main-message">
      <h3 class="h1-invert-extension">Inversion disabled.</h3>
      <p class="p-invert-extension">Enjoy losing money.</p>
    </div>
    </div>
  </div>
  <div class="inversion-footer">
    <p class="p-invert-extension"><span style="font-size:12px; position:relative; bottom:45px">For more algo trading:</span></p>
    <div style="margin-top:-45px">
      <a href="https://discord.gg/PemC6mt5WM" target="_blank" ><img class="inversion-footer-logos" src="../../img/discord.png"></a>
      <a href="https://www.youtube.com/channel/UCbJfyiBegEca-rd6DeLjK4Q" target="_blank" ><img class="inversion-footer-logos" src="../../img/youtube.png"></a>
      <a href="https://cryptomaton.org" target="_blank" ><img class="inversion-footer-logos" src="../../img/website.png"></a>
    </div>
  </div>
</body>
<script src="../static/scripts/redirect.js"></script>
